<style>
        
        h1 {
            color: rgb(64, 2, 2);
            text-decoration: underline;
        }

        .hastag {

            padding:10px;
            border-radius: 20px 5px;  
            border-style: dotted;
            border-color:  black;
            margin: 5px;  
        }

        .imgRedonda {
            display: block;
            width: 200px;
            height: 200px;
            border-radius: 150px;
            border-style: dotted;
            margin: 20px;

        }
        
        .ilustraciones {
            
         /* object-fit: cover; no funciona, no pone las imágenes al mismo tamaño */
         
                        
        }
        
        tr, td {
            padding: 2px;
            border: 1px solid black;
        }

        .tabla {
            margin: 30px;
            background-color: white;
        }

        .colortabla {
            text-align: center;
            padding-left: 10px;
        }

        .pregunta{
           text-align: right; 
           padding: 10px;
           background-color: brown;
           color: black;

        }

        .respuesta {
            text-align: left;
           padding: 10px;
           background-color: rgb(191, 158, 158);


        }

       


        /* div {
        background: red
        margin: 10px
        padding: 10px
        } */
    </style>